In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mse','mae','friedman_mse'],
            'max_features':['auto','sqrt','log2'],
            'splitter':['best','random']
           }
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(X_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\yuvar\Anaconda3\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [12]:
result=grid.cv_results_

In [13]:
grid_pred=grid.predict(X_test)

In [14]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_pred)
r_score

0.6894293369746667

In [15]:
table=pd.DataFrame.from_dict(result)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.015305,0.009389,0.007057,0.008643,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.722350,0.573485,0.773766,0.626325,0.691221,0.677429,0.070576,1
1,0.016019,0.000812,0.013783,0.002946,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.624595,0.690842,0.711034,0.605681,0.674901,0.661411,0.039929,2
2,0.017225,0.003211,0.007937,0.004941,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.711223,0.583015,0.405803,0.627476,0.617908,0.589085,0.100848,15
3,0.009543,0.005916,0.004730,0.006274,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.537287,0.726373,0.358044,0.585923,0.595902,0.560706,0.119114,17
4,0.010690,0.009053,0.011233,0.003709,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.775725,0.175169,0.685101,0.601782,0.422016,0.531959,0.213137,18
5,0.009896,0.000609,0.004430,0.002375,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.665919,0.683397,0.484147,0.598111,0.685921,0.623499,0.076612,8
6,0.032136,0.004430,0.003207,0.006414,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.740816,0.630211,0.619402,0.540326,0.650659,0.636283,0.064286,7
7,0.028576,0.006272,0.003180,0.006360,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.554641,0.652509,0.662405,0.612489,0.616513,0.619712,0.037934,9
8,0.019627,0.006125,0.005502,0.006842,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.548193,0.614063,0.575131,0.578919,0.629404,0.589142,0.029051,14
9,0.027405,0.006067,0.003887,0.006052,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.745325,0.491413,0.522147,0.621887,0.662506,0.608656,0.092718,10
10,0.023796,0.007952,0.005532,0.006870,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.654676,0.404967,0.673950,0.632707,0.603774,0.594015,0.097366,13
11,0.021156,0.007274,0.003125,0.006250,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.630691,0.552814,0.688757,0.523176,0.602734,0.599635,0.058232,12
12,0.010263,0.007269,0.008662,0.007193,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.723387,0.535826,0.750406,0.626076,0.661281,0.659395,0.075843,3
13,0.014192,0.001757,0.003127,0.006254,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.696714,0.673973,0.655431,0.665630,0.551599,0.648669,0.050408,5
14,0.012319,0.006169,0.003448,0.006120,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.736362,0.618364,0.657373,0.641673,0.590370,0.648828,0.049258,4
15,0.008254,0.005796,0.003330,0.006151,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.683285,0.440338,0.642231,0.578603,0.698671,0.608626,0.093844,11
16,0.010292,0.004681,0.000663,0.000843,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.771156,0.497766,0.685401,0.624215,0.624781,0.640664,0.089412,6
17,0.004970,0.004381,0.004299,0.002902,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.624011,0.588984,0.573182,0.535679,0.580713,0.580514,0.028382,16

In [16]:
print("The R2 value for best parameter {}".format(grid.best_params_),r_score)

The R2 value for best parameter {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'best'} 0.6894293369746667